{% extends 'main/base.html' %}
{% block title %}Editorial Board - JSCE{% endblock %}

{% block content %}
<h2 class="text-center mb-4">Advisory Board</h2>

<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="card border-0  mb-4 ">
            <div class="card-body">
                <h5 class="card-title text-primary">Management Committee, Khwopa Engineering College & Khwopa College of Engineering</h5> 
                 <ul class="mb-0">
                    <li class="card-text mb-0">Sunil Prajapati (Chairman)</li>
                    <li class="card-text mb-0">Ar. Rajani Joshi (Member)</li>
                    <li class="card-text mb-0">Rabindra Jyakhwo (Member)</li>       
                </ul> 
            </div>
        </div>  
    </div>
</div>

<h2 class="text-center mb-4">Editorial Board</h2>

<div class="row justify-content-center" >

    <div class="col-lg-10">
        <div class="card border-0  mb-4">
            <div class="card-body">
                <h5 class="card-title text-primary">Chief Editor: </h5>
                <ul class="mb-0">
                <li>Dr. Subeg Man Bijukchhen - Khwopa Engineering College</li>
                </ul>
            </div>
        </div>

        <div class="card border-0  mb-4">
            <div class="card-body">
                <h5 class="card-title text-primary">Editors:</h5>
                <ul>
                <li>Prof. Dr. Raju Bhai Tyata - Khwopa College of Engineering</li>
                    <li>Assoc. Prof. Sujan Maka - Khwopa Engineering College</li>
                    <li>Assoc. Prof. Sunil Duwal - Khwopa College of Engineering</li>
                    <li>Prof. Dr. Chandra Kiran Kawan - Khwopa College of Engineering</li>
                    <li>Sr. Lecturer Naba Raj Budhathoki - Khwopa Engineering College</li>
                    <li>Assoc. Prof. Dr. Phanindra Prasad Bhandari - Khwopa Engineering College</li>
                    <li>Sr. Lecturer Sudip Karanjit - Khwopa Engineering College</li>
                    <li>Asst. Prof. Dr. Rocky Talchabhadel - Jackson State University, US</li>
                    <li>Er. Rabindra Phoju - Xidian University, China</li>
                    <li>Er. Rameswor Shrestha - Tongji University, China</li>
                    <li>Dr. Sudeep Neupane - Max-Planck Institute for Radio Astronomy, Germany</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
